    <h1>Twitter Appsar <%= @title %></h1>
    <p>
	This is the home page for <a href="http://www.google.com">my app ala</a> twitter
    </p>

<%= link_to "Sign up now!", signup_path, :class=> "signup_button round" %>

